$Raleway : 'Raleway', sans-serif;

$primary-green : #06A77D;
$secondary-green : #39B998;
$third-green : #78E3C5;
$grey : #9B9B9B;
$light-grey : #E0DCE2;
$red: #ff0000;


$normal-margin: 30px;
$small-margin: 10px;
$big-margin: 50px;
$giant-margin: 70px;