<div class="ui top fixed menu">
  <div class="branding">
    <a ng-href="#/home">Fh</a>
  </div>
  <a ng-href="#/explore" class="item">Find</a>
  <a ng-show="loggedIn == true;" ng-href="#/create" class="item">Create</a>
  <div class="right menu">
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/signup" class="small ui button">Sign Up</a>
  	</div>
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/login" class="small ui button">Login</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<a href="#/profile/{{userID}}"><i class="user icon"></i> {{userName}}</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<button ng-click="logout()" class="small ui button">Logout</button>
  	</div>
  </div>
</div>
<div class="createWorkoutBanner">
	<div id="headerText">
		<h2>EDIT WORKOUT</h2>
	</div>
</div>
<div class="ui grid createGrid">
	<div id="step1" class="ui centered fourteen wide column step">
		<div class="description">
			<strong>Step 1 - </strong> Give your workout a name
		</div>
		<div class="stepInput">
			<div class="ui form">
				<div class="field">
				    <textarea ng-model="workout.name" my-enter="scrollToTarget('#step2')" rows="3" placeholder="Workout Name"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="ui centered twelve wide column break">
		<hr>
	</div>
	<div id="step2" class="ui centered fourteen wide column step">
		<div class="description">
			<strong>Step 2 - </strong> Give a short description for your workout.
		</div>
		<div class="stepInput">
			<div class="ui form">
				<div class="field">
				    <textarea ng-model="workout.description" my-enter="scrollToTarget('#step3')" rows="3" placeholder="Workout Description"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="ui centered twelve wide column break">
		<hr>
	</div>
	<div id="step3" class="ui centered fourteen wide column step">
		<div class="description">
			<strong>Step 3 - </strong> Choose to make your workout private or public.
		</div>
		<div class="stepInput">
			<div class="ui radio checkbox">
			  <input ng-model="workout.public" ng-value="true" ng-click="scrollToTarget('#step4')" type="radio" name="radio" checked="checked">
			  <label>
			  		<i class="users icon"></i> Public
			  </label>
			</div>
			<br>
			<div class="ui radio checkbox">
			  <input ng-model="workout.public" ng-value="false" ng-click="scrollToTarget('#step4')" type="radio" name="radio" checked="checked">
			  <label>
			  		<i class="lock icon"></i> Private
			  </label>
			</div>
		</div>
	</div>
	<div class="ui centered twelve wide column break">
		<hr>
	</div>
	<div id="step4" class="ui centered fourteen wide column step">
		<div class="description">
			<strong>Step 4 - </strong> Find and add elements to your workout!
			<div class="subText">
				Click on a day to add it to the workout. You can also click on elements to see details. 
			</div>
		</div>
		<div class="stepInput">
			<div class="ui segments elementSearch">
				<div class="ui segment searchElements">
					<div class="ui transparent fluid input">
					  <input ng-model="query" type="text" placeholder="Search...">
					</div>
				</div>
				<div class="ui segment resultElements">
					<div ng-repeat="element in elements | filter: filterQuery" class="ui stackable two column grid element">
						<div ng-click="setPeekElement(element)" class="column elementName">
							{{element.name}}
						</div>
						<div class="column dayContainer">
							<div ng-click="addToWorkout(element,'Sunday')" class="selectionDay">S</div>
							<div ng-click="addToWorkout(element,'Monday')" class="selectionDay">M</div>
							<div ng-click="addToWorkout(element,'Tuesday')" class="selectionDay">T</div>
							<div ng-click="addToWorkout(element,'Wednesday')" class="selectionDay">W</div>
							<div ng-click="addToWorkout(element,'Thursday')" class="selectionDay">T</div>
							<div ng-click="addToWorkout(element,'Friday')" class="selectionDay">F</div>
							<div ng-click="addToWorkout(element,'Saturday')" class="selectionDay">S</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui centered fifteen wide column">
		<div id="summaryView">
			<div class="ui stackable seven column grid summaryContainer">
				<div ng-repeat="day in workout.days" class="dayContainer column">
					<div class="dayHeader">{{day.day}}</div>
					<div ng-show="day.elements.length == 0" class="emptyDay">
						<div class="verticaltext">
							No Activity
						</div>
					</div>
					<div ng-repeat="element in day.elements" class="workoutElement">
						{{element.name}}
						<div class="controls">
							<div ng-click="removeFromWorkout(element.index, day.day)" class="deleteElement">
								<i class="trash outline icon"></i>
							</div>
							<div ng-click="setActiveElement(element)" class="expandElement">
								<i class="plus icon"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui centered twelve wide column break">
		<hr>
	</div>
	<div id="step5" class="ui centered fifteen wide column step">
		<div class="description">
			<strong>Step 5 - </strong> Almost done! Help other users out by selecting a few tags to describe your workout. 
		</div>
		<div class="stepInput">
			<div ng-repeat="tag in tags" ng-click="toggleTag(tag)" ng-class="{'ui button tagButton activeTag' : workout.tags.indexOf(tag) != -1, 'ui button tagButton': workout.tags.indexOf(tag) == -1}" class="ui button tagButton">{{tag}}</div>
		</div>
	</div>
	<div class="ui centered fifteen wide center aligned column">
		<button ng-click="update()" class="ui button commandButton">
			Update!
		</button>
		<button ng-click="delete()" class="ui red button deleteButton" style="color:red">
			Delete
		</button>
	</div>
</div>

<div id="addedElementModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  	{{activeElement.name}}
  </div>
  <div id="modalGrid" class="ui two column center aligned stackable grid">
  	<div class="column">
  		<div class="image content">
  		  <div class="ui centered medium image">
  		    <img ng-src="{{activeSource}}">
  		  </div>
  		</div>
  	</div>
  	<div class="column">
  		  <div class="description">
  		    <div class="ui one column left aligned stackable grid">
  		    	<div class="ui column">
  		    		<div class="ui header">{{activeElement.name}}</div>
  		    	</div>
  		    	<div class="ui column">
  		    		<p>{{activeDescription}}</p>
  		    	</div>
  		    	<div class="ui column">
  		    		<div class="ui labeled fluid input">
  		    		  <div class="ui label">
  		    		    Sets
  		    		  </div>
  		    		  <input type="text" ng-model="activeElement.sets">
  		    		</div>
  		    		<br>
  		    		<div class="ui labeled fluid input">
  		    		  <div class="ui label">
  		    		    Reps
  		    		  </div>
  		    		  <input type="text" ng-model="activeElement.reps">
  		    		</div>
  		    	</div>
  		    	<div class="ui column">
  				  <div class="ui labeled fluid input">
  				    <div class="ui label">
  				      Time
  				    </div>
  				    <input type="text" ng-model="activeElement.time">
  				  </div>
  				  <br>
  				  <div class="ui labeled fluid input">
  				    <div class="ui label">
  				      Distance
  				    </div>
  				    <input type="text" ng-model="activeElement.distance">
  				  </div>
  				</div>
  				<div class="ui column">
  					<button ng-click="saveModal()" class="ui black button">
  						Save
  					</button>
  				</div>
  		    	</div>
  		    </div>
  	</div>
  </div>
</div>

<div id="elementModal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  	{{peekElement.name}}
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img ng-src="{{peekSource}}">
    </div>
    <div class="description">
      <div class="ui header">{{peekElement.name}}</div>
      <p>{{peekDescription}}</p>
    </div>
  </div>
</div>