<div class="ui top fixed menu">
  <div class="branding">
    <a ng-href="#/home">Fh</a>
  </div>
  <a ng-href="#/explore" class="item">Find</a>
  <a ng-show="loggedIn == true;" ng-href="#/create" class="item">Create</a>
  <div class="right menu">
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/signup" class="small ui button">Sign Up</a>
  	</div>
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/login" class="small ui button">Login</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<a href="#/profile/{{userID}}"><i class="user icon"></i> {{userName}}</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<button ng-click="logout()" class="small ui button">Logout</button>
  	</div>
  </div>
</div>
<div class="ui stackable grid mainContent">
	<div class="row exploreBanner">
		<div id="headerText" class="ui centered ten wide column">
			<h2>EXPLORE WORKOUTS</h2>	
		</div>
	</div>
	<div class="row exploreSearch">
		<div class="ten wide centered column">
			<div class="ui fluid icon input">
			  <input type="text" placeholder="Begin exploring..." ng-model="query">
			  <i class="search icon"></i>
			</div>
		</div>
		<div class="four wide centered column">
			<div class="ui buttons">
				<button ng-click="toggleSort('num_favorite')" ng-class="{'ui button topicButton activeSort' : sortParameter == 'num_favorite', 'ui button topicButton': sortParameter != 'num_favorite'}" class="ui button topicButton"><i class="trophy icon"></i>Popular</button>
				<div class="or"></div>
				<button ng-click="toggleSort('dateCreated')" ng-class="{'ui button topicButton activeSort' : sortParameter == 'dateCreated', 'ui button topicButton': sortParameter != 'dateCreate'}" class="ui button topicButton" ><i class="newspaper icon"></i>New</button>
			</div>
		</div>
	</div>
	<div class="row exploreBody">
		<div class="fifteen wide centered column">
			<div class="ui stackable three column grid exploreResults">
				<div ng-repeat="workout in workouts | filter: filterQuery | orderBy:sortParameter:1" class="column">
					<div class="ui segments workoutCard">
						<div class="ui segment cardHeader">
							<div>
								<a ng-href="#/workout/{{workout._id}}">{{workout.name}}</a>
								<div class="headerInfo">
									<i class="star icon"></i> {{workout.num_favorite}}
								</div>
							</div>
							<div>
								<a ng-href="#/profile/{{workout.current_user_id}}"><span class="resultUser">{{workout.current_user}}</span></a>
								<div class="headerInfo">
									<i class="copy icon"></i> {{workout.num_copy}}
								</div>
							</div>
						</div>
						<div class="ui segment cardBody">
							<div class="cardDescription">
								{{workout.description}}
							</div>
						</div>
						<div class="ui segment cardFooter">
							<div ng-repeat="tag in workout.tags" class="ui tiny label cardTag">
							  <i class="tag icon"></i> {{tag}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>