<div class="ui top fixed menu">
  <div class="branding">
    <a ng-href="#/home">Fh</a>
  </div>
  <a ng-href="#/explore" class="item">Find</a>
  <a ng-show="loggedIn == true;" ng-href="#/create" class="item">Create</a>
  <div class="right menu">
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/signup" class="small ui button">Sign Up</a>
  	</div>
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/login" class="small ui button">Login</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<a href="#/profile/{{userID}}"><i class="user icon"></i> {{userName}}</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<button ng-click="logout()" class="small ui button">Logout</button>
  	</div>
  </div>
</div>
<div id="firstBanner">
	<div id="headerText">
		<h2>FITHUB</h2>
		<h4>FIND | CREATE | TRACK</h4>
	</div>
</div>
<div id="secondBanner">
	<div class="ui two column stackable grid">
		<div class="column">
			<h4>About</h4>
			<p>Fithub is a tool to create and find all kinds of workouts. All workouts on Fithub are created by users like you. Experience the freedom of selecting from a vast group of workout elements and organizing them into workout schedules that match your commitment and schedule. Sign up below to get started now for absolutely no cost!</p>
			<a href="" class="ui button">Sign Up</a>
		</div>
	</div>
</div>
<div id="thirdBanner">
	<div class="ui stackable grid">
		<div class="four wide centered column">
			<img class="ui centered small image" src="assets/icon1.svg" alt="">
			<p>Find workouts from other users like you</p>
			<a href="#/explore" class="ui button">Find</a>
		</div>
		<div class="four wide centered column">
			<img class="ui centered small image" src="assets/icon2.svg" alt="">
			<p>Start creating your own workouts now</p>
			<a href="#/login" class="ui button">Create</a>
		</div>
		<div class="four wide centered column">
			<img class="ui centered small image" src="assets/icon3.svg" alt="">
			<p>Track your own workouts in the profile page</p>
			<a href="#/login" class="ui button">Track</a>
		</div>
	</div>
</div>
