<div class="ui top fixed menu">
  <div class="branding">
    <a ng-href="#/home">Fh</a>
  </div>
  <a ng-href="#/explore" class="item">Find</a>
  <a ng-show="loggedIn == true;" ng-href="#/create" class="item">Create</a>
  <div class="right menu">
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/signup" class="small ui button">Sign Up</a>
  	</div>
  	<div ng-show="loggedIn == false;" class="item">
  		<a href="#/login" class="small ui button">Login</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<a href="#/profile/{{userID}}"><i class="user icon"></i> {{userName}}</a>
  	</div>
  	<div ng-show="loggedIn == true;" class="item">
  		<button ng-click="logout()" class="small ui button">Logout</button>
  	</div>
  </div>
</div>
<div class="ui stackable grid profileContainer">
	<div class="ui centered three wide column">
		<img class="ui centered medium image" src="assets/avatarPlaceholder.png">
		<div class="userName">{{user.name}}</div>
	</div>
	<div class="ui centered twelve wide column">
		<div class="ui top attached tabular menu">
		  <a class="active item" data-tab="all">All Workouts</a>
		  <a class="item" data-tab="original">Original Workouts</a>
		  <a class="item" data-tab="copied">Copied Workouts</a>
		</div>
		<div class="ui bottom attached active tab segment" data-tab="all">
			<div class="ui stackable two column grid">
				<div ng-repeat="workout in workouts" class="column">
					<div class="ui segments workoutCard">
						<div class="ui segment cardHeader">
							<div>
								<a ng-href="#/workout/{{workout._id}}">{{workout.name}}</a>
								<div class="headerInfo">
									<i class="star icon"></i> {{workout.num_favorite}}
								</div>
							</div>
							<div>
								<div class="headerInfo">
									<i class="copy icon"></i> {{workout.num_copy}}
								</div>
							</div>
						</div>
						<div class="ui segment cardBody">
							<div class="cardDescription">
								{{workout.description}}
							</div>
						</div>
						<div class="ui segment cardFooter">
							<div ng-repeat="tag in workout.tags" class="ui tiny label cardTag">
							  <i class="tag icon"></i> {{tag}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="original">
		  <div class="ui stackable two column grid">
				<div ng-repeat="workout in workouts | filter:filterByOriginal" class="column">
					<div class="ui segments workoutCard">
						<div class="ui segment cardHeader">
							<div>
								<a ng-href="#/workout/{{workout._id}}">{{workout.name}}</a>
								<div class="headerInfo">
									<i class="star icon"></i> {{workout.num_favorite}}
								</div>
							</div>
							<div>
								<div class="headerInfo">
									<i class="copy icon"></i> {{workout.num_copy}}
								</div>
							</div>
						</div>
						<div class="ui segment cardBody">
							<div class="cardDescription">
								{{workout.description}}
							</div>
						</div>
						<div class="ui segment cardFooter">
							<div ng-repeat="tag in workout.tags" class="ui tiny label cardTag">
							  <i class="tag icon"></i> {{tag}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="copied">
		  <div class="ui stackable two column grid">
				<div ng-repeat="workout in workouts | filter:filterByCopied" class="column">
					<div class="ui segments workoutCard">
						<div class="ui segment cardHeader">
							<div>
								<a ng-href="#/workout/{{workout._id}}">{{workout.name}}</a>
								<div class="headerInfo">
									<i class="star icon"></i> {{workout.num_favorite}}
								</div>
							</div>
							<div>
								<div class="headerInfo">
									<i class="copy icon"></i> {{workout.num_copy}}
								</div>
							</div>
						</div>
						<div class="ui segment cardBody">
							<div class="cardDescription">
								{{workout.description}}
							</div>
						</div>
						<div class="ui segment cardFooter">
							<div ng-repeat="tag in workout.tags" class="ui tiny label cardTag">
							  <i class="tag icon"></i> {{tag}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>